.hotelInfoServiceItem {
    display: flex;
    align-items: center;
}
.hotelInfoServiceItem .serviceTitle{
    text-align: left;
    align-items: flex-end;
    padding-right: 10px;
}
.hotelInfoServiceItem .serviceTitle .svt1{
    font-size: 18px;
    font-weight: 700;
    color: #5a5a5a;
    line-height: 22px;
}
.hotelInfoServiceItem .serviceTitle .svt2{
    font-size: 15px;
    font-weight: 400;
    color: #5a5a5a;
}
.hotelInfoServiceContent {
    text-align: justify;
    padding-top: 18px;
}
.hotelInfoServiceItem img {
    width: 65px;
}
.MoreItem svg{
    width: 30px;
    height: 30px;
}
.MoreItem span{
    padding-left: 10px;
}
.MoreItem:hover svg path{
    fill: #1A1AFF;
}
.MoreItem:hover span{
    color: #1A1AFF;
}
.MoreItem {
    display: flex;
    padding-top: 20px;
    width: fit-content;
    cursor: pointer;
    color: #dfbf86;
    font-weight: 500;
    align-items: center;
}

.hotelInfoAddressTitle {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}
.hotelInfoAddressContent {
    padding: 20px 0;
}
.hotelInfoAddressContent tr{
    line-height: 29px;
}
.hotelInfoAddressContent td{
    vertical-align: top;
    text-align: justify;
}
.hotelInfoAddressContent td.title {
    font-weight: 500;
    white-space: nowrap;
}
.hotelInfoAddressContent td a{
    color: #ff0202;
    font-weight: 400;
}
.hotelInfoAddressContent td a:hover{
    color: #dfbf86;
}
.hotelInfoEvaluate .hotelInfoAddressContent img {
    width: 70%;
}
#CateSlide .container {
    position: relative;
}
section#CateSlide {
    padding-top: 50px;
}
.PhotoContent img{
    width: 100%;
}
section#cateRoom {
    padding-top: 50px;
}
.cateRoomTop {
    text-align: center;
}
.cateRoomTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.cateRoomDesc {
    padding-bottom: 20px;
}
.container-slider {
    position: relative;
}
.slide-room-img {
    padding: 15px;
    background: #dfbf86;
}
#cateRoom .slide-room .slide-room-img img {
    scale: 1;
    transition: all 0.3s linear;
}

#cateRoom .slide-room .slide-room-img img {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
}
#cateRoom .slide-room:hover .slide-room-img img {
    scale: 1.05;
}

.slide-room-info {
    padding: 10px;
}
.slide-room-info {
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.slide-room-info-ks {
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0 20px 0;
    font-size: 20px;
}
.slide-room-info-title {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 500;
}
.slide-room-info-title img{
    width: 47px;
    padding-right: 10px;
    margin-top: -6px;
}
.slide-room-line {
    width: 60%;
    border-bottom: 1px solid;
    height: 14px;
}
.slide-room-info-link-text {
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.slide-room {
    border: 1px solid #f4eeeecc;
    border-radius: 8px;
}
/*service*/
section#cateService {
    padding-top: 100px;
}
.cateService {
    text-align: center;
}
.cateServiceTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.cateServiceDesc {
    padding-bottom: 20px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -30px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    transition: all 0.3s ease;
}
.swiper-pagination-clickable .swiper-pagination-bullet:hover {
    background: #007aff;
    opacity: 1;
}
.slideService .mySwiper2 .swiper-wrapper .swiper-slide img {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.swiper-pagination-bullet-active {
    width: 50px;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.slideService .mySwiper2 .swiper-wrapper .swiper-slide .ServiceDescLayer {
    /*width: 100%;*/
    position: absolute;
    /*height: 100%;*/
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    overflow: hidden;

}
.slideService .mySwiper2 .swiper-wrapper .swiper-slide .ServiceDesc {
    /*width: 100%;*/
    position: absolute;
    /*height: 100%;*/
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    padding: 0 40px;
    color: #ffffff;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    align-items: center;
}
.slideService .mySwiper2 .swiper-wrapper .swiper-slide:hover .ServiceDesc {
    /*height: 100%;*/
    transform: translateY(0%);
}
.ServiceItemTitle {
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px 0;
    font-size: 20px;
}
.ServiceItemDesc {
    text-align: justify !important;
    padding: 53px 0;
}
.ServiceItemDate {
    padding-top: 15px;
}
.ServiceItemLine {
    border-top: 1px solid #dfbf86;
    width: 37px;
    baseline-shift: 1px;
}

/*end service*/
/*home slide endow*/
section#homeEndow {
    padding-top: 80px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #eeeeed 70%, #ffffff 30%);
}
.homeEndowTop {
    text-align: center;
}
.homeEndowTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.homeEndowDesc {
    padding-bottom: 20px;
}
#homeEndow .container {
    position: relative;
}
#homeEndow .container-slider-endow{

    overflow: hidden;
}
#homeEndow .slider-endow {
    overflow: hidden;
}

#homeEndow .slide-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

#homeEndow .slide-endow {
    box-sizing: border-box;
    /*padding: 5px;*/
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 8px;
}

#homeEndow .slide-endow img {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
}
.slide-endow-img {
    padding: 15px;
    background: #dfbf86;
}
#homeEndow .slide-endow:hover img {
    scale: 1.05;

}
#homeEndow .slide-endow img {
    scale: 1;
    transition: all 0.3s linear;
}
.slide-endow-info {
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.slide-endow-info {
    padding: 10px;
}
.slide-endow-info-ks {
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0 20px 0;
    font-size: 20px;
}
.slide-endow-info-title {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 500;
}

.slide-endow-info-time {
    padding-bottom: 30px;
}
.slide-endow-info-link-text {
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.slide-endown-line {
    width: 60%;
    border-bottom: 1px solid;
    height: 14px;
}
.slide-endow-info-link-text svg {
    margin-top: -4px;
}

#homeEndow .control-btn {
    cursor: pointer;
    padding: 10px 2px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}
#homeEndow .control-btn.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#homeEndow .control-btn.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
#homeEndow .slider-endow a:hover {
    color: #6c757d;
}
/*end endow*/
/*photo tab*/
.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 20px;
    text-transform: uppercase;
}

.tab button:hover {
    color: #dfbf86;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

/* Style the active tab */
.tab button.active {
    color: #dfbf86;
}
section#HomePhoto {
    padding-top: 100px;
}
.PhotoTitle {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 40px;
}
#HomePhoto .container {
    position: relative;
}
#HomePhoto .swiper-button-prev {
    top: 64%;
    left: 5px;
}
#HomePhoto .swiper-button-next{
    top: 64%;
    right: 5px;
}
#HomePhoto .PhotoContent {
    overflow: hidden;
}
#HomePhoto .PhotoContent img{
    transition: all 0.3s ease;
    width: 100%;
}
#HomePhoto .PhotoContent img:hover{
    scale: 1.1;
}
/*end photo tab*/
/*Home contact*/
.contactContent {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.contactTitle {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.contactInfo {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
}
.contactDesc {
    text-align: center;
    padding: 10px;
}
.contactFormLine {
    display: flex;
    flex-direction: initial;
    margin-top: 20px;
}
.contactFormInput {
    flex: 0 0 50%;
}
.contactFormLine {
    display: flex;
    flex-direction: unset;
    margin-top: 20px;
    flex-wrap: wrap;
}
.contactFormInput {
    flex: 0 0 50%;
    padding: 10px;
}
.contactFormInput input{
    padding: 15px;
    background: #eee;
}
.contactFormInput select{
    padding: 15px;
    background: #eee;
}
.contactTextarea {
    flex: 0 0 100%;
    padding: 10px;
}
.contactTextarea textarea{

    padding: 15px;
    background: #eee;
}
textarea:focus {
    border: 1px solid transparent; /* Đường viền khi focus */
    outline: none; /* Loại bỏ outline mặc định của trình duyệt */
}
.contactSubmit {
    flex: 0 0 100%;
    text-align: center;
}
button.submitContact {
    padding: 10px 40px;
    background: #dfbf86;
    color: #fff;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
button.submitContact:hover {
    background: #000000;
}
section#homeBlog {
    background-image: linear-gradient(180deg, #eeeeed 70%, #ffffff 30%);
}

/*end home contact*/
section#HomeContact {
    background-image: linear-gradient(180deg, #eeeeed 70%, #ffffff 30%);
}
@media (max-width: 991px) {
    #homeEndow .container-slider-endow {
        padding: 0;
    }
    .contactFormInput {
        flex: 0 0 100%;
        padding: 10px;
    }
    .contactContent {
        width: 98%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .contactTextarea {
        flex: 0 0 100%;
        padding: 10px;
    }
    .header-mid-datngay {
        overflow: hidden;
        display: none;
    }
    /*photo*/
    .tab {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
    #HomePhoto .swiper-button-next {
        top: 70%;
        right: 5px;
    }
    #HomePhoto .swiper-button-prev {
        top: 70%;
        left: 5px;
    }
    /*end phôt*/
    .hotelInfoTitle {
        text-align: center;
        padding: 25px 0;
    }
    .hotelInfoService.d-flex {
        flex-direction: column;
    }
    .hotelInfoServiceList {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hotelInfoServiceItem img {
        width: 40px;
    }
    .hotelInfoServiceItem .serviceTitle .svt1 {
        font-size: 12px;
        font-weight: 700;
        color: #5a5a5a;
        line-height: 12px;
    }
    .hotelInfoServiceItem .serviceTitle .svt2 {
        font-size: 10px;
        font-weight: 400;
        color: #5a5a5a;
    }
    .hotelInfoServiceContent {
        text-align: justify;
        padding-top: 18px;
        font-size: 14px;
    }
    .MoreItem svg {
        width: 20px;
        height: 20px;
    }
    .MoreItem span {
        padding-left: 10px;
        font-size: 14px;
    }
    .hotelInfoAddressTitle {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        padding-top: 30px;
    }
    .hotelInfoAddressContent {
        padding: 5px 0;
    }
    .hotelInfoAddressContent td.title {
        font-weight: 500;
        white-space: nowrap;
        font-size: 13px;
    }
    .hotelInfoAddressContent td {
        vertical-align: top;
        text-align: justify;
        font-size: 13px;
    }
    .hotelInfoEvaluate .hotelInfoAddressContent img {
        width: 50%;
    }
}
@media (min-width: 992px) {

    section#hotelInfo {
        padding-top: 80px;
    }
    section#hotelInfo h1{
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 500;
    }
    .hotelInfoData {
        display: flex;
    }
    .hotelInfoService.d-flex {
        flex: 0 0 41%;
        flex-direction: column;
        padding-right: 3%;
        border-right: 1px solid #0c0c0c;
    }
    .hotelInfoServiceList {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }
    .hotelInfoAddress {
        padding-left: 3%;
        flex: 0 0 35%;
    }
    .hotelInfoEvaluate {
        flex: 0 0 24%;
        padding-left: 3%;
    }
    .swiper-button-prev {
        left: -17px;
    }
    .swiper-button-next {
        right: -17px;
    }
    #cateRoomSlide .swiper-button-prev {
        left: -32px;
    }
    #cateRoomSlide .swiper-button-next {
        right: -32px;
    }

}